{% load bootstrap3 %}
{% load staticfiles %}
{% load new_filters %}

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
		
		<title>Sistema de Liquidaciones UNIVISION</title>
		
		{% bootstrap_css %}
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

		{% bootstrap_javascript %}
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <style>
            body { padding-bottom: 70px; }
        </style>

	</head>
	
	<body>
	
		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
			
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
					</button>
					<a class="navbar-brand" href="{% url 'seguimientos:index' %}">Home</a>
				</div>
				
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'seguimientos:ventas' %}">Ventas</a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="{% url 'seguimientos:stats' %}">Estadísticas</a></li>
					</ul>

					<form class="navbar-form navbar-left" action="{% url 'watson:search' %}">
    				  <div class="form-group">
    				    <input type="text" class="form-control" placeholder="Búsqueda" name="q" value="{{request.GET.q}}">
    				  </div>
    				  <button type="submit" class="btn btn-basic">Buscar</button>
    				</form>
					
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
							<li><a>Hola, {{ user.username }}.</a></li>
                            <li><a href="{% url 'usuarios:password_change' %}">
                                <span class="glyphicon glyphicon-wrench"></span> Cambiar contraseña</a></li>
							<li><a href="{% url 'usuarios:logout' %}">
								<span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a>
							</li>
						{% else %}
							<li><a href="{% url 'usuarios:login' %}">
								<span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a>
							</li>
						{% endif %}
					</ul>
				</div><!--/.nav.collapse -->
			</div>
		</nav>
		
		<div class="container">
			<div class="page-header">
				{% block header %}{% endblock header %}
			</div>
			<div>
				{% block content %}{% endblock content %}
			</div>
		</div> <!-- /container -->
	</body>

	<footer>
		<div class= "navbar navbar-inner navbar-inverse navbar-fixed-bottom">
			<div class="container-fluid navbar-text pull-right">
                <small>
					{% now "Y" as current_year %}
					Copyright {{ current_year }}
					<span class="glyphicon glyphicon-copyright-mark"></span><b> UNIVISION SRL</b>
                </small>
			</div>
		</div>
	</footer>

</html>