{% extends "seguimientos/base.html" %}
{% load bootstrap3 %}
{% load new_filters %}

{% block header %}
	<h3>
		<a href="{% url 'seguimientos:venta' venta.id %}">{{ venta }}</a>
	</h3>
{% endblock header %}

{% block content %}
{% if request.user|has_group:"Liquidaciones" %}
	
	<h4>Revisar cliente:</h4>
	<form action="{% url 'seguimientos:editar_venta' venta_nueva.id %}" method='post' class="form">
		{% csrf_token %}
		{% bootstrap_form form %}

		<div class="container" style="text-align: center">
			<h5>Vendedor: <span class="label label-default">{{ venta_nueva.owner }}</span></h5>

			{% now "d" as current_day %}
				{% if current_day >= '28' %}
					<div class="label label-danger">
  						<strong>Atención!</strong> Se pasó la fecha límite de liquidación.
					</div>
					<hr>
					{% buttons %}
						<fieldset disabled>
							<button name='submit' class="btn btn-success btn-block">Guardar</button>
						</fieldset>
					{% endbuttons %}
				{% else %}
					{% buttons %}
						<button name='submit' class="btn btn-success btn-block">Guardar</button>
					{% endbuttons %}
				{% endif %}
		</div>
	</form>
{% else %}
No tenés permiso para liquidar.
{% endif %}

{% endblock content %}