{% extends "seguimientos/base.html" %}
{% load bootstrap3 %}
{% load new_filters %}

{% block header %}
	<h3>
		<a href="{% url 'seguimientos:venta' venta.id %}">{{ venta }}</a>
	</h3>
{% endblock header %}

{% block content %}
{% if request.user|has_group:"Liquidaciones" %}
	
	<h4>Revisar cliente:</h4>
	<form action="{% url 'seguimientos:editar_venta' venta_nueva.id %}" method='post' class="form">
		{% csrf_token %}
		{% bootstrap_form form %}

		<div class="container" style="text-align: center">
			{% now "d" as current_day %}
				{% if current_day >= '28' %}
					<div class="label label-danger">
  						<strong>Atención!</strong> Se pasó la fecha límite de liquidación.
					</div>
				{% endif %}
			<h5>Vendedor: <span class="label label-default">{{ venta_nueva.owner }}</span></h5>
		</div>

		{% buttons %}
			<button name='submit' class="btn btn-success btn-block">Guardar</button>
		{% endbuttons %}
	</form>
{% else %}
No tenés permiso para liquidar.
{% endif %}

{% endblock content %}