{% extends "seguimientos/base.html" %}
{% load new_filters %}

{% block header %}
	<div class="jumbotron" style='text-align: center'>
		<h1>Sistema de Liquidaciones</h1>
	</div>
{% endblock header %}

{% block content %}
	{% if user.is_authenticated %}
        {% if request.user|has_group:"Liquidaciones" %}

        {% else %}
		    <h2 style='text-align: center'>Este mes tenés sumados {{ request.user|points_sum }} puntos.</h2>
        {% endif %}
	{% else %}
		<h2>
			<a href="{% url 'usuarios:login' %}">Inicie sesión</a> para empezar.
		</h2>
		</br>
	{% endif %}
	</br>
	</br>
	</br>
	<h2 style='text-align: center'><b>UNIVISION SRL</b></h2>
	
{% endblock content %}