{% extends "seguimientos/base.html" %}
{% load bootstrap3 %}
{% load new_filters %}



{% block header %}
	<h2>Estadísticas:</h2>
{% endblock header %}

{% block content %}

    <!-- Scripts de los graphs -->

    <script type="text/javascript">
	    google.charts.load('current', {packages:['corechart']});
	    google.charts.setOnLoadCallback(colChartMonthly);
	    google.charts.setOnLoadCallback(pieChartDaily);
	    google.charts.setOnLoadCallback(colChartDailyByVendor);
	    google.charts.setOnLoadCallback(lineChartDailyPerMonth);
	    google.charts.setOnLoadCallback(colChartLastMontPoints);

	    function colChartMonthly() {
	      var oldData = google.visualization.arrayToDataTable([
	        ['Name', 'Cantidad'],
	        ['Ventas mes pasado', {{ request.user|last_month_sales }}]
	      ]);

	      var newData = google.visualization.arrayToDataTable([
	        ['Name', 'Cantidad'],
	        ['Ventas del mes', {{ request.user|monthly_sales }}]
	      ]);

	      var colChartDiff = new google.visualization.ColumnChart(document.getElementById('colchart_diff'));

	      var options = {
	        title: "Ventas totales del mes",
	        legend: { position: 'right' }
	      };

	      var diffData = colChartDiff.computeDiff(oldData, newData);
	      colChartDiff.draw(diffData, options);
	    }

	    function pieChartDaily() {
          var data = google.visualization.arrayToDataTable(
          {% autoescape off %}
              {{ request.user|total_daily_sales }}
	       {% endautoescape %}
          );
          var options = {
            title: 'Ventas del día por Código',
            is3D: true,
          };
          var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
          chart.draw(data, options);
        }

        function colChartDailyByVendor() {
          var data = google.visualization.arrayToDataTable(

                {% autoescape off %}
                    {{ request.user|total_daily_sales_by_vendor }}
                {% endautoescape %}
          );

          var view = new google.visualization.DataView(data);
      	  view.setColumns([0, 1, { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation"}]);

          var options = {
            title: "Ventas del día por Vendedor",
            width: 900,
            height: 600,
            bar: {groupWidth: "70%"},
            legend: { position: "none" },
          };
          var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
          chart.draw(view, options);
      }

        function lineChartDailyPerMonth() {
        var data = google.visualization.arrayToDataTable(
            {% autoescape off %}
                {{ request.user|total_daily_sales_per_month }}
            {% endautoescape %}
        );

        var options = {
          title: 'Performance diaria',
          hAxis: {title: 'Mes actual: {% now "m" %}',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0},
          legend: { position: "none" },
        };

        var chart = new google.visualization.AreaChart(document.getElementById('line_chart'));
        chart.draw(data, options);

      }

          function colChartLastMontPoints() {
          var data = google.visualization.arrayToDataTable(

                {% autoescape off %}
                    {{ request.user|last_month_points_sum }}
                {% endautoescape %}
          );

          var view = new google.visualization.DataView(data);
      	  view.setColumns([0, 1, { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         2, { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" }]);

          var options = {
            title: "Puntos y ventas sumados del mes anterior",
            width: 900,
            height: 800,
            bar: {groupWidth: "40%"},
            legend: { position: "right" },
            isStacked: true,

          };
          var chart = new google.visualization.BarChart(document.getElementById("barchart_lastmonth"));
          chart.draw(view, options);
      }

	</script>

	<h3>Mensual:</h3>

	<center><div id='colchart_diff' style='width: 900px; height: 600px;'></div></center>

    <h3>Diario:</h3>
    <hr>

    <center><div id="line_chart" style="width: 900px; height: 600px"></div></center>

	<center><div id="donutchart" style="width: 900px; height: 600px; "></div></center>

    <center><div id="barchart_values" style="width: 900px; height: 600px; "></div></center>

    <h3>Mes pasado:</h3>
    <hr>

	<center><div id="barchart_lastmonth" style="width: 900px; height: 800px; "></div></center>

{% endblock content %}

