{% extends "seguimientos/base.html" %}
{% load bootstrap3 %}
{% load new_filters %}



{% block header %}
	<h2>Estadísticas:</h2>
{% endblock header %}

{% block content %}

    <!-- Scripts de los graphs -->

    <script type="text/javascript">
	    google.charts.load('current', {packages:['corechart']});
	    google.charts.setOnLoadCallback(colChartMonthly);
	    google.charts.setOnLoadCallback(pieChartDaily);
	    google.charts.setOnLoadCallback(colChartDailyByVendor);
	    google.charts.setOnLoadCallback(colChartMonthlyByVendor);
	    google.charts.setOnLoadCallback(lineChartDailyPerMonth);
	    google.charts.setOnLoadCallback(colChartLastMonthPoints);
	    google.charts.setOnLoadCallback(colChartCurrentMonthPoints);

	    function colChartMonthly() {
	      var oldData = google.visualization.arrayToDataTable([
	        ['Name', 'Cantidad'],
	        ['Ventas mes pasado', {{ request.user|last_month_sales }}]
	      ]);

	      var newData = google.visualization.arrayToDataTable([
	        ['Name', 'Cantidad'],
	        ['Ventas del mes', {{ request.user|monthly_sales }}]
	      ]);

	      var colChartDiff = new google.visualization.ColumnChart(document.getElementById('colchart_diff'));

	      var options = {
	        title: "Ventas totales del mes",
	        fontSize: 10,
	        legend: { position: "none" },
	        diff: { newData: { widthFactor: 0.6 }, oldData: { widthFactor: 0.8 } }
	      };

	      var diffData = colChartDiff.computeDiff(oldData, newData);
	      colChartDiff.draw(diffData, options);
	    }

	    function pieChartDaily() {
          var data = google.visualization.arrayToDataTable(
          {% autoescape off %}
              {{ request.user|total_daily_sales }}
	       {% endautoescape %}
          );
          var options = {
            title: 'Ventas del día por Código',
            is3D: true,
          };
          var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
          chart.draw(data, options);
        }

        function colChartDailyByVendor() {
          var data = google.visualization.arrayToDataTable(

                {% autoescape off %}
                    {{ request.user|total_daily_sales_by_vendor }}
                {% endautoescape %}
          );

          var view = new google.visualization.DataView(data);
      	  view.setColumns([0, 1, { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation"}]);

          var options = {
            title: "Ventas del día por Vendedor",
            width: 500,
            height: 600,
            fontSize: 10,
            bar: {groupWidth: "80%"},
            legend: { position: "none" },
          };
          var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
          chart.draw(view, options);
      }

      function colChartMonthlyByVendor() {
          var data = google.visualization.arrayToDataTable(

                {% autoescape off %}
                    {{ request.user|total_monthly_sales_by_vendor }}
                {% endautoescape %}
          );

          var view = new google.visualization.DataView(data);
      	  view.setColumns([0, 1, { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation"}]);

          var options = {
            title: "Ventas del mes por Vendedor",
            width: 550,
            height: 600,
            fontSize: 10,
            bar: {groupWidth: "80%"},
            legend: { position: "none" },
          };
          var chart = new google.visualization.BarChart(document.getElementById("barchart_values_month"));
          chart.draw(view, options);
      }

        function lineChartDailyPerMonth() {
        var data = google.visualization.arrayToDataTable(
            {% autoescape off %}
                {{ request.user|total_daily_sales_per_month }}
            {% endautoescape %}
        );

        var options = {
          title: 'Performance diaria',
          hAxis: {title: 'Mes actual: {% now "m" %}',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0},
          fontSize: 10,
          colors:['red','#004411'],
          legend: { position: "none" },
        };

        var chart = new google.visualization.AreaChart(document.getElementById('line_chart'));
        chart.draw(data, options);

      }

      function colChartLastMonthPoints() {
          var data = google.visualization.arrayToDataTable(

                {% autoescape off %}
                    {{ request.user|last_month_points_sum }}
                {% endautoescape %}
          );

          var view = new google.visualization.DataView(data);
      	  view.setColumns([0, 1, { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         2, { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" }]);

          var options = {
            title: "Puntos y ventas sumados del mes anterior",
            width: 500,
            height: 800,
            fontSize: 10,
            bar: {groupWidth: "80%"},
            legend: { position: "right" },
            isStacked: true,

          };
          var chart = new google.visualization.BarChart(document.getElementById("barchart_lastmonth"));
          chart.draw(view, options);
      }

      function colChartCurrentMonthPoints() {
          var data = google.visualization.arrayToDataTable(

                {% autoescape off %}
                    {{ request.user|current_month_points_sum }}
                {% endautoescape %}
          );

          var view = new google.visualization.DataView(data);
      	  view.setColumns([0, 1, { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                         2, { calc: "stringify",
                         sourceColumn: 2,
                         type: "string",
                         role: "annotation" }]);

          var options = {
            title: "Puntos y ventas sumados del mes actual",
            width: 500,
            height: 800,
            fontSize: 10,
            bar: {groupWidth: "80%"},
            legend: {position: 'right'},
            isStacked: true,

          };
          var chart = new google.visualization.BarChart(document.getElementById("barchart_currentmonth"));
          chart.draw(view, options);
      }

	</script>

    <div class="container">
        <div class="row">
            <h3>Mensual:</h3>

	        <div class="col-md-2" id='colchart_diff' style='width: 500px; height: 600px;'></div>
            <div class="col-md-4" id="barchart_values_month" style="width: 550px; height: 600px; "></div>
        </div>

        <div class="row">
            <h3>Diario:</h3>
            <hr>

            <div class="col-md-2" id="line_chart" style="width: 550px; height: 600px"></div>
            <div class="col-md-4" id="barchart_values" style="width: 500px; height: 600px; "></div>
	        <center><div class="col-md-4" id="donutchart" style="width: 900px; height: 600px; "></div></center>

        </div>

        <div class="row">
            <h3>Mes pasado:</h3>
            <hr>

	        <div class="col-md-2" id="barchart_lastmonth" style="width: 500px; height: 800px; "></div>
            <div class="col-md-2" id="barchart_currentmonth" style="width: 500px; height: 800px; "></div>
        </div>
    </div>

{% endblock content %}

